<div class="row even optional uploads">
    <!-- things that need to be side-by-side go in "cells" -->
	
    <div id="dropzoneMaison" class="dropzone dz-clickable">
		<div class="dz-message">
			Drop files here or click to upload.<br>
			<span class="note">(Allowed file extensions to upload are: .jpeg, .jpg, .png, .gif)</span>
		</div>
	</div>
	
    <!-- once we're done with "cells" we *must* place a "clear" div -->
    <div class="clear"></div>
</div>
