
   
	
	////////////////////////////////////////////////////////////////////////////////
    //label et text de la remarque
    $form_maison->add('label','label_remarque', 'remarque', 'Remarque');
    $remarque = $form_maison->add('textarea', 'remarque', null, array(
                                    'maxlength' => Maison::MAX_SIZE_COMMENTAIRE
                                ));
    
    //Il ne faut pas oublier d'ajouter le bouton submit
    $form_maison->add('submit', 'btnsubmit', 'Ajouter');
    
    $form_maison->render('view/templates/maisons.tpl');
?>
    </div>

<script src="js/contact.js"></script>
<script src="js/horaires.js"></script>
<script src="js/chambres.js"></script>

<script src="js/dropzone.js"></script>
<script src="js/uploader.js"></script>
<script type="text/javascript">
    addChangeEtatListener();
	addChangeChambresListener();
	addDropZoneListener();
</script>