.select2-selection{
    height:30px;
}
.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}
.sell-form fieldset {
    border-bottom: 1px solid #e9e9e9;
    padding: 0 0 25px 0;
    margin: 25px 0 0 0;
}
fieldset {
    border: 0;
}
.sell-form fieldset legend {
    margin: 0 0 20px 0;
}
fieldset legend {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, HelveticaNeueLTCom-Lt, Arial, "Lucida Grande", sans-serif;
    color: #414141;
    font-size: 24px;
    font-weight: normal;
    width: 100%;
    float: left;
}
.sell-form fieldset .field-content {
    margin: 0 0 0 22px;
}
ul {
    list-style-type: none;
}
.sell-form fieldset ul li:first-child {
    margin: 0;
}
.sell-form fieldset .select-six {
    margin: 20px 0 0 0;
}
.sell-form fieldset ul li {
    margin: 12px 0 0 0;
    float: left;
    width: 100%;
}
.sell-form fieldset .upload-file-container {
    width: 140px;
    height: 105px;
    cursor: pointer;
    background: url("../img/upload_a_photo.gif") no-repeat;
    float: left;
    margin: 0 20px 0 0;
}
.sell-form fieldset .upload-file-container span {
    display: inline-block;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.exportPDF {
    float:right;
}